@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --tittle-header: #1e1e1e;
    --text-header: rgb(106, 106, 128);
    --font-poppins: 'Poppins',sans-serif;
    --header-color: #c1dcdc;
}
body{
    margin:0;
    padding:0;
}
.container{
    margin: 20px 150px;
}
.nav-header{
    display: flex;
    justify-content: space-between;
}
.nav-header>div:first-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-header div:first-child h3{
    color: var(--tittle-header);
}
.nav-header ul{
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .nav-header  ul li a{
    margin: 0px 15px;
    text-decoration: none;
    color: var(--text-header);
    font-weight: 600;
    font-family: var(--font-poppins);
  }
  
.nav-header  ul li a.active{
    color: var(--tittle-header);
  }
.nav-header div:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header div:last-child i{
    display: flex !important;
    justify-content: space-between;
}
.nav-header div:last-child Image{
    display: flex;
    justify-content: space-between;
}

.header{
    width: 1250px;
    height: 600px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--header-color);
    border-radius: 5%;

}
.header-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-1 h1{
     right: -10px;
     font-family: var(--font-poppins);
     font-size: 70px;
     position: relative;
     left: 100px;
     top: -50px;
} 
.header-1 div {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: initial;
}
#Image-line{
    position: relative;
    top: -25px;
}
.header-1 div div:first-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-1 div div:last-child{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.header-2{
    position: relative;
}
.header-2 div:nth-child(1) {
      z-index: 1;
      position: absolute;
      top: 210px;
      left: 200px;
}
.header-2 div:nth-child(2) {
     z-index: 2;
     position: absolute;
     top: 55px;
     left: 180px;
}
.header-2 div:nth-child(3) {
     position: absolute;
     bottom: 80px;
     right: 550px;;
}
.header-2 div:nth-child(4) {
     position: absolute;
     bottom: 380px;
     left: 500px;
}
#Search{
    position: absolute;
    top: 400px;
    left: 150px;
}
.Best-Selling-Plants{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 1440px;
    height: 612px;
    position: relative;
    top: 100px;
}
.Best-Selling-Plants div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Best-Selling-Plants div:first-child h3{
    font-size: 32px;
    font-family: var(--font-poppins);
}
.Best-Selling-Plants div:first-child p{
    font-size: 18px;
    font-family: var(--font-poppins);
    color: var(--text-header);
}
.List{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.List-Plants{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.List-Plants h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: var(--font-poppins);
    color: var(--tittle-header);
}
.List-Plants p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: var(--font-poppins);
    color: var(--text-header);
}
.btnseemore button{
    width: 168px;
    height:51px;
    color: var(--tittle-header);
    border: 8px solid var(--header-color);
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.About-Us{
    width: 1474px;
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}
.About-Us div:first-child{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.About-Us div:first-child h3{
    font-size: 32px;
    margin: 15px;
    color: var(--tittle-header);
    font-family: var(--font-poppins);
}
.About-Us div:first-child p{
    font-size: 18px;
    margin: 0;
    color: var(--text-header);
    font-family: var(--font-poppins);
}
.List2{
    position: relative;
    top: 100px;
    width: 1248px;
    height: 213px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-aboutus{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.list-aboutus h4 {
    font-size: 18px;
    font-family: var(--font-poppins);
    color: var(--tittle-header);
}
.list-aboutus p {
    font-size: 18px;
    font-family: var(--font-poppins);
    color: var(--text-header);
}
.footer{
    width: 1476px;
    height: 400px;
    display:grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
}
.footer > div:first-child{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: column;
    position: relative;
    top:-30px;
}
.footer > div:first-child h2{
    color: black;
}
.footer > div:first-child p{
    font-size: 18px;
    color: var(--text-header);
}
#paragraphfooter{
    font-size: 18px;
    color: var(--text-header);
    position: relative;
    top:75px;
}
.iconsfooter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.iconsfooter > span{
    height: 40px;
    width: 40px;
    display: flex;
    margin-right: 50px;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
}
.footer > div:last-child{
    position: relative;
    left: 450px;
    width: 452px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
.footer > div:last-child ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.footer > div:last-child h6{
    margin: 25px 0px;
    font-size: 18px;
    font-family: var(--font-poppins);
  }
.footer > div:last-child ul a{
    text-decoration: none;
    color: var(--text-header);
    display: inline-block;
    margin-bottom: 15px;
    font-size: 17px;
    font-family: var(--font-poppins);
}
  
  
  
  
  